<fieldset id="input">
	<legend>Input</legend>
	<label for="md5">Something: </label> <input type="text" id="hashMe" />
</fieldset>

<fieldset id="results">
	<legend>Results</legend>

	<label for="md5">MD5: </label> <input type="text" id="md5" readonly="readonly" /><br />
	<label for="sha1">SHA-1: </label> <input type="text" id="sha1" readonly="readonly" /><br />
	<label for="sha2">SHA-2: </label> <input type="text" id="sha2" readonly="readonly" />
</fieldset>

<strong>To do</strong>
<ol>
	<li>instructions</li>
	<li>look for <a href="http://en.wikipedia.org/wiki/HMAC" target="_blank">other hashes</a></li>
	<li>select hex, string, or base-64 for value</li>
	<li>um, basically make a javascript/ajax version of <a href="http://hashkiller.com/password/test" target="_blank">HashKiller</a></li>
</ol>
