	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
		<title><%= @title || 'Ha$hy, so money' %></title>
			<style type="text/css" media="screen">

				fieldset {
					border:1px solid #ccc;
					padding:10px;
					margin-bottom: 20px;	
				}

				label, input {
					display: block;
					width: 150px;
					float: left;
					margin-bottom: 10px;
				}

				input {
					width: 700px;
					height:28px;
					font-size: 18px;
					padding: 5px;
					border: 1px solid blue;
					color:#FF0000;
				}

				label {
					text-align: right;
					width: 100px;
					padding-right: 20px;
				}

				br {
					clear: left;
				}

			</style>

		</head>
		<body>
			<%= yield %>
			
			<div id="flashcopier"/>

			
			<script type="text/javascript" src="http://hashyassets/scripts/prototype.js"></script>
			<script type="text/javascript" src="http://hashyassets/scripts/scriptaculous.js?load=effects"></script>

			<script type="text/javascript" src="http://hashyassets/scripts/hashy.js"></script>

		</body>		
	</html>
